/* global  css */
body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background-image: linear-gradient(50deg, black, rgb(74, 74, 74), black);
  }
  
  #scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 47%;
    width: 50px;
  }
  
  #scrollButton:hover {
    background-color: rgb(72, 255, 255);
    color: black;
  }
  
  .line {
    border: 0;
    background-color: #8f8c8c;
    height: 10px;
    padding: 0;
    margin: 0;
  }
  
  /* ---------------------------  Header ------------------------------*/
  
  header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .Logotext {
    font-size: 25px;
    color: rgb(0, 166, 255);
    text-shadow: 2px 2px #c8c8c8;
  }
  
  .left span img {
    width: 40px;
    height: 40px;
  }
  
  .navList {
    display: flex;
    font-size: 18px;
  }
  
  .navList li {
    list-style: none;
    padding: 0 10px;
  }
  
  .navList li a:hover {
    color: rgb(3, 238, 238);
  }
  
  .navList li a {
    text-decoration: none;
    color: black;
  }
  
  /* -----------------------------------------introduction-----------------------------------------------------*/
  
  .section-1 {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    background-image: linear-gradient(150deg, black, rgb(89, 88, 88), black);
  }
  
  .left-section-1 {
    font-size: 35px;
    padding: 50px 30px;
    max-width: 17em;
  }
  
  #section-input {
    padding: 20px 0;
  }
  
  .section-1-btn {
    background-color: rgb(255 255 255);
    border-radius: 12px;
    width: 150px;
    height: 40px;
    color: black;
    cursor: pointer;
    font-size: 17px;
    border: 0px;
  }
  
  .section-1-btn:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease-out;
  }
  
  .right-section-1 img {
    width: 400px;
    position: relative;
    right: 30%;
    border-radius: 20px;
    filter: drop-shadow(19px -2px 4px rgb(31, 31, 31));
  }
  
  /* -----------------------------------------about us -----------------------------------------------------*/
  
  #about {
    padding: 50px 0;
    background: linear-gradient(50deg, black, rgb(61, 61, 61), black);
  }
  
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dev {
    width: 31rem;
    filter: grayscale(1);
    margin: 0 31px;
    box-shadow: -3px -5px 4px aqua, 2px 2px 4px aqua;
  }
  
  .about-text {
    max-width: 600px;
    padding: 20px;
    text-align: left;
    margin: 0 0 0 20px;
  }
  
  .about-text p{
    font-size:20px;
  }
  
  .cv a {
    text-decoration: none;
    width: 12rem;
    display: block;
  }
  
  .cv-download {
    background-color: rgb(253, 253, 253);
    color: #3f3f3f;
    font-size: 15px;
    border-radius: 13px;
    border: 0;
    width: 182px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .cv-download:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease-out;
  }
  
  .cv-arrow {
    width: 27px;
    background-color: black;
    border-radius: 15px;
    transform: rotateZ(90deg);
    margin: 0 0 0 10px;
  }
  
  /* -----------------------------------------services -----------------------------------------------------*/
  
  #services {
    padding: 20px 0;
    background-image: linear-gradient(150deg, black, rgb(74, 74, 74), black);
  }
  
  .services-container .title {
    padding: 0 6rem;
    text-align: center;
  }
  
  .services-container .title h2 {
    font-size: 35px;
    margin: 21px 0 31px 0;
  }
  
  .services-container .title p {
    font-size: 25px;
    text-align: center;
  }
  
  .text-box {
    display: flex;
    font-size: 20px;
    justify-content: center;
  }
  
  .text-box-elements {
    box-shadow: 6px 6px 5px #737575 inset, 5px 5px 5px #101010;
    width: 25rem;
    margin: 2rem;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text-box-elements img {
    width: 50px;
    padding-top: 23px;
  }
  
  .text-box-elements h4 {
    padding: 14px 0;
    margin: 0;
  }
  
  .text-box-elements .para {
    text-align: center;
  }
  
  /* -----------------------------------------details -----------------------------------------------------*/
  
  #details {
    padding: 30px 0;
    background-image: linear-gradient(50deg, black, rgb(74, 74, 74), black);
  }
  
  .grid-container {
    display: flex;
  }
  
  .grid-container img {
    width: 24rem;
    margin: 0 0 0 8rem;
    filter: drop-shadow(33px 10px 3px rgb(17, 17, 17));
  }
  
  .grid-container .text-details {
    padding: 0px 0 0 50px;
    width: 55em;
  }
  
  .text-d {
    font-size: 17px;
  }
  
  .grid-container .text-details .text-d h2 {
    font-size: 35px;
    color: rgb(116, 244, 249);
  }
  
  .grid-container .text-details .text-d h5 {
    color: aqua;
  }
  
  /*------------------------- education-------------------------------- */
  
  .education-container {
    padding: 10px 40px;
    background-image: linear-gradient(150deg, black, rgb(89, 88, 88), black);
  }
  
  .education-flex {
    display: flex;
    justify-content: space-around;
  }
  
  .education-text {
    flex-basis: 30%;
  }
  
  .education-text-details {
    margin: 20px 0;
  }
  
  .time-details {
    color: aqua;
    font-size: 18px;
    display: inline-block;
    border: 1px solid aqua;
    padding: 11px 24px;
  }
  
  .education-text h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 0 10px 0;
  }
  
  .education-text p {
    margin: 0;
  }
  
  .d-icons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .details-icons {
    filter: drop-shadow(9px 7px 2px rgb(22, 22, 22));
    width: 40%;
  }

  /* details silde bar */
  
  .skill-bar {
    display: flex;
    align-items: center;
    margin: 42px 0;
  }
  
  .skill-bar img {
    width: 40px;
    margin-right: 10px;
  }
  
  .progress-bar {
    margin: 0 0 0 10px;
    height: 23px;
    background-color: #ddd;
    width: 100%;
    filter: drop-shadow(6px 6px 2px rgb(101, 101, 101));
  }
  
  .progress-value {
    height: 100%;
    background-color: rgb(0, 207, 207);
    text-align: center;
    color: #000000;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .education {
    font-size: 20px;
    display: flex;
    margin: 15px 0;
    justify-content: center;
  }
  
  .education-section {
    padding: 0 20px;
  }
  
  /* -----------------------------------------   FAQ  -----------------------------------------------------*/
  
  #FAQ {
    background-image: linear-gradient(150deg, black, rgb(74, 74, 74), black);
  }
  
  .FAQ {
    margin: 0 0 0 6rem;
    padding: 60px 0 3rem 0;
  }
  
  .faq-question {
    width: 50%;
    padding: 5px 0;
    font-size: 20px;
  }
  
  .faq-answer {
    display: none;
    width: 89%;
    font-size: 20px;
  }
  
  .paragraph {
    margin: 0;
    padding: 5px 0;
  }
  
  .FAQ h2 {
    padding: 0 0 10px 0;
    color: aqua;
  }
  
  .toggle-button {
    border: 0;
    border-radius: 15px;
    background-color: rgb(87, 252, 252);
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 20px;
  }
  
  .toggle-button:hover {
    cursor: pointer;
  }
  
  /* --------------------------------------------footer------------------------------------------- */
  
  #footer-id {
    background-image: linear-gradient(50deg, black, rgb(74, 74, 74), black);
  }
  
  .contact-text {
    margin: 0 10px;
    font-size: 20px;
  }
  
  .footer-text {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-text h3 {
    margin: 19px 0 4px 0;
    font-size: 30px;
    color: aqua;
  }
  
  .footer-text p {
    margin: 10px 0;
    font-size: 23px;
    text-align: center;
  }
  
  .contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .contact-details {
    display: flex;
    align-items: center;
  }
  
  .topic {
    margin-bottom: 10px;
  }
  
  .socials {
    display: flex;
    padding: 0 0rem;
    justify-content: center;
    margin: 0;
    filter: drop-shadow(6px 4px 3px rgb(15, 15, 15));
  }
  
  .socials li {
    list-style: none;
    padding: 23px 12px;
    cursor: pointer;
  }
  
  .socials img {
    width: 3rem;
  }
  
  .copyright {
    padding: 12px 0rem;
    font-size: 18px;
    text-align: center;
  }
  
    /* -----------------------------------------contact us -----------------------------------------------------*/
  
    #contact-us {
      padding: 4rem 0 3rem 0;
    }
    
    .form-hrline {
      border: 0;
      background-color: rgb(142, 139, 139);
      height: 1px;
      max-width: 40rem;
      padding: 0%;
      margin: 0 1px 0 25px;
    }
    
    .contact-container {
      background-image: linear-gradient(50deg, black, rgb(44, 44, 44), black);
      border-radius: 20px;
      display: flex;
      color: rgb(252, 252, 252);
      margin: 23px 19rem;
    }
    
    .contact-container h3 {
      font-size: 40px;
      color: rgb(250, 250, 250);
      margin: 0;
      padding: 20px 0;
      text-align: center;
    }
    
    .contact-img {
      width: 60px;
    }
    
    .contact-left .left-side {
      margin: 7rem 0 0 0;
      padding: 0 23px;
    }
    
    .address-details {
      text-align: center;
    }
    
    .address-details img {
      width: 60px;
    }
    
    .phone-details {
      padding: 20px 0;
      text-align: center;
    }
    
    .email-details {
      padding: 0 0 50px 0;
      text-align: center;
    }
    
    .contact-right {
      position: relative;
      right: 5%;
    }
    
    .contact-right .topic-text {
      margin: 30px 0 0 30px;
      font-size: 25px;
      width: 20rem;
    }
    
    .contact-right p {
      width: 100%;
      margin: 30px 0 12px 30px;
      font-size: 20px;
    }
    
    .input-box {
      margin: 23px 0 19px 30px;
      width: 100%; 
    }
    
    .message-box textarea {
      max-width: 100%; 
      max-height: 200px; 
      width: 100% !important; 
      box-sizing: border-box; 
    }
    
    .input-box input,
    .input-box textarea {
      width:100%;
      height: 45px;
      border-radius: 15px;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 5px 10px;
      font-size: 16px;
      color: white;
    }
    
    .input-box input.invalid,
    .input-box textarea.invalid {
      border-color: #ff0000;
    }
    
    .input-box i {
      height: 1px;
      background-color: #6f6f6f;
      display: block;
    }
    
    ::placeholder {
      color: rgb(158, 158, 158);
      opacity: 1;
      font-family: Cambria;
      font-size: 15px;
    }
    
    .form-button {
      padding: 0 34px;
    }
    
    .form-button input {
      background-color: rgb(106, 106, 106);
      color: rgb(255, 255, 255);
      font-size: 23px;
      border: 0px;
      border-radius: 20px;
      width: 15rem;
      height: 34px;
      transition: all .3s ease;
      margin: 23px 0;
    }
    
    .form-button input:hover {
      cursor: pointer;
      background-color: #323232;
    
    }
    
    .error-message {
      color: #ff0000;
      font-size: 14px;
      margin-top: 5px;
    }
    
    /* Increase specificity for autofill input */
    input:-webkit-autofill {
      color: #333 !important; 
      background-color: transparent !important; 
    }

 /*----------------------- Projects----------------------- */
  
 .projects {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.projects:hover {
  transform: scale(1.05);
}

.projects h3 {
  color: #333;
}

.projects p {
  color: #666;
}

.projects a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  background-color: rgb(2, 192, 192);
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}

.projects button {
  font-size: 16px;
  display: block;
  margin-top: 10px;
  text-decoration: none;
  background-color: rgb(2, 192, 192);
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.projects a:hover {
  background-color: rgb(0 139 139);
}

.project {
  text-align: center;
}

.projects h2 {
  font-size: 35px;
  margin: 0;
}

.projects p{
  margin: 5px;
}

.project-items {
  display: flex;
  gap: 30px;
}

.description{
  height: 131px;
}

.projects-list {
  padding: 5rem 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

    /* --------------------------------------Media quries --------------------- */

  /* ----------------------------------------navbar----------------------------- */
  
  
  @media only screen and (max-width: 468px) {
  
    header {
      flex-direction: column;
    }
  
    .navList {
      justify-content: center;
      padding: 0;
    }
  
    .left {
      justify-content: center;
    }
  }
  
  /* -----------------------------------intro------------------------------------------ */
  
  @media (max-width: 768px) {
    .section-1 {
      flex-direction: column;
    }
  
    .left-section-1 {
      padding: 80px 30px 0 30px;
    }
  
    .right-section-1 img {
      width: 350px;
      position: static;
    }
  
    #section-input {
      padding: 20px 0;
      display: flex;
      justify-content: center;
    }
  
    .right-section {
      margin: 30px;
    }
  }
  
  /* -----------------------------------about------------------------------------------ */
  
  @media (max-width: 768px) {
  
    .about-container {
      flex-direction: column;
      align-items: center;
    }
  
    .dev {
      width: 20rem;
    }
  }
  
  /*--------------------------- services------------------------------- */
  
  @media (max-width: 768px) {
  
    .services-container .title {
      padding: 0 2rem;
    }
  
    .services-container .title h2 {
      padding: 20px 0 0 0;
      margin: 0;
    }
  
    .services-container .title p {
      font-size: 22px;
    }
  
    .text-box {
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* ------------------------------------details-------------------- */
  
  
  @media (max-width: 768px) {
  
    .grid-container {
      flex-direction: column;
    }
  
    .grid-container img {
      margin: 0 auto;
    }
  
    .details img {
      width: 80%;
      margin: 0;
    }
  
    .grid-container .text-details {
      width: auto;
    }
  
    .details .text-details h2 {
      font-size: 28px;
    }
  }
  
  /*------------------------------------------- education ----------------------------------------- */
  
  @media (max-width: 768px) {
  
    .education-flex {
      flex-direction: column;
    }
  
    .education-text {
      flex-basis: 100%;
    }
  
    .d-icons {
      flex-direction: column;
    }
  
    .details-icons {
      width: auto;
    }
  }
  
  /* --------------------------------faq section--------------------------- */
  
  @media (max-width: 768px) {
    .FAQ {
      margin: 0;
      padding: 2rem 34px;
    }
  
    .FAQ h2 {
      padding-bottom: 5px;
    }
  
    .faq-question {
      font-size: 18px;
      width: auto;
    }
  
    .faq-question .paragraph {
      width: 100%;
    }
  }
  
  /* --------------------------------footer------------------------------------ */
  
  @media (max-width: 768px) {
  
    .footer-text p {
      text-align: start;
    }
  
    .contacts {
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: flex-start;
    }
  
    .contact-img {
      margin: 0 20px;
    }
  }
  
  /*------------------------------ Projects------------------------------------------ */
  
  @media (max-width: 768px) {
  
    .project-items{
      flex-direction: column;
    }
  
    .description{
      height: 200px;
    }
  }
  
  /* -------------------------------contact-us------------------------------------------ */
  
  @media (max-width: 768px) {
  
    .contact-container {
      margin: 5rem 15px 0 15px;
    }
  
    .contact-container h3 {
      font-size: 30px;
      padding: 20px 0;
      margin: 0;
    }
  
    .contact-left .left-side {
      margin: 2rem 0;
      padding: 0;
    }
  
    .contact-right {
      width: auto;
      height: auto;
      position: static;
      margin-top: 2rem;
    }
  
    .contact-right .topic-text {
      margin: 20px 0 0;
      width: auto;
    }
  
    .contact-right p {
      width: auto;
      margin: 20px 0;
      font-size: 18px;
    }
  
    .input-box input::placeholder {
      font-size: 12px;
    }
  
    textarea::placeholder {
      font-size: 12px;
    }
  
    .input-box input,
    textarea {
      width: 80%;
    }
  
    .form-control {
      width: 80%;
    }
  
    .form-button {
      margin-top: 30px;
    }
  
    .form-button input {
      width: 90%;
      font-size: 17px;
    }
  
    .form-hrline {
      max-width: 60%;
      margin: 0;
    }
  
    .confirmation-message {
      display: none;
    }
  }
  
  @media (max-width: 1200px) {
  
    #contact-us {
      display: flex;
      justify-content: center;
    }
  
    .contact-container {
      justify-content: center;
      align-items: center;
    }
  }
  
  
